.wrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info .title {
    font-size: 36px;
    margin: 0;
    font-family: Open Sans,sans-serif;
    color: #3b4151;
}

.container {
    max-width: 1460px;
}

.scheme-container {
    margin: 0 0 20px;
    padding: 30px 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.opblock-tag {
    font-size: 24px;
    margin: 0 0 5px;
    font-family: Titillium Web,sans-serif;
    color: #3b4151;
}

.opblock-tag-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.opblock-tag {
    font-size: 24px;
    margin: 0 0 5px;
    font-family: Titillium Web,sans-serif;
    color: #3b4151;
}

a.nostyle, .swagger-ui a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.opblock.opblock-get {
    border-color: #61affe;
    background: rgba(97,175,254,.1);
}

.opblock.opblock-get .opblock-summary-method {
    background: #61affe;
}

.opblock.opblock-get .opblock-summary {
    border-color: #61affe;
}

.opblock .opblock-summary-method {
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    background: #000;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-family: Titillium Web,sans-serif;
    color: #fff;
}

.opblock {
    margin: 0 0 15px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.19);
    box-shadow: 0 0 3px rgba(0,0,0,.19);
}

.opblock-summary-path, .opblock .opblock-summary-path__deprecated {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 3 auto;
    flex: 0 3 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: break-all;
    padding: 0 10px;
    font-family: Source Code Pro,monospace;
    font-weight: 600;
    color: #3b4151;
}

.opblock .opblock-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.opblock .opblock-summary-description {
    font-size: 13px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Open Sans,sans-serif;
    color: #3b4151;
}
.opblock-description-wrapper, .swagger-ui .opblock-external-docs-wrapper, .swagger-ui .opblock-title_normal {
    font-size: 12px;
    margin: 0 0 5px;
    padding: 15px 20px;
    font-family: Open Sans,sans-serif;
    color: #3b4151;
}


.required {
    font-size: 11px;
    position: relative;
    top: -4px;
    padding: 5px;
    color: rgb(255,0,0);
}

.opblock .opblock-section-header {
    padding: 8px 20px;
    min-height: 50px;
    background: hsla(0,0%,100%,.8);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.example {
    font-size: 12px;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    border-radius: 4px;
    background: #41444e;
    overflow-wrap: break-word;
    font-family: Source Code Pro,monospace;
    font-weight: 600;
    color: #fff;
}

button {
    cursor: pointer;
    outline: none;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 23px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 2px solid gray;
    border-radius: 4px;
    background: transparent;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    font-family: Titillium Web,sans-serif;
    color: #3b4151;
}

.btn.cancel {
    border-color: #ff6060;
    background-color: transparent;
    font-family: Titillium Web,sans-serif;
    color: #ff6060;
}

.execute-wrapper {
    padding: 20px;
    text-align: right;
}

.btn.execute {
    -webkit-animation: swagger-ui-pulse 2s infinite;
    animation: swagger-ui-pulse 2s infinite;
    will-change: transform;
    background-color: #4990e2;
    color: #fff;
    border-color: #4990e2;
}

input[type=text] {
    min-width: 100px;
    margin: 5px 0;
    padding: 8px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #fff;
}

select {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 40px 5px 10px;
    border: 2px solid #41444e;
    border-radius: 4px;
    background: #f7f7f7 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…45NjkuMjcxLS4yNjguNzA5LS4yNjguOTc4IDBMMTAgMTFsMy40MTgtMy4xNDF6Ii8+PC9zdmc+) right 10px center no-repeat;
    background-size: 20px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
    font-family: Titillium Web,sans-serif;
    color: #3b4151;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.response-label {
    font-weight:bold;
    font-size: 12px;
    margin: 10px 0 5px;
    font-family: Open Sans,sans-serif;
    color: #3b4151;
}

.request-url {

}